<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">NG Commerce</a>
    <ul class="right hide-on-med-and-down">
      <li><a routerLink="/cart" *ngIf="clientService.isLoggedIn()"><i class="material-icons">shopping_cart</i></a></li>
      <li><a routerLink="/profile" *ngIf="clientService.isLoggedIn()">Profile</a></li>
      <li><a routerLink="/login" *ngIf="!clientService.isLoggedIn()">Login</a></li>
      <li><a routerLink="/signup" *ngIf="!clientService.isLoggedIn()">Signup</a></li>
      <li><a routerLink="/logout" *ngIf="clientService.isLoggedIn()" (click)="logout()">Logout</a></li>
    </ul>
  </div>
</nav>
